Babel==1.3
Pillow==2.5.3
Django==1.7.1
celery==3.1.13
coverage==3.7.1
dj-database-url==0.3.0
django-redis-sessions==0.4.0
-e git+https://github.com/dcramer/django-uuidfield.git@master#egg=django-uuidfield
feedparser==5.1.3
-e git+https://github.com/gpodder/mygpo-feedservice.git@py3#egg=feedservice-dev
gunicorn==19.1.1
html2text==2014.7.3
markdown2==2.2.2
-e git+https://github.com/google/oauth2client.git@master#egg=oauth2client
psycopg2==2.5.4
pyes==0.99.5
python-dateutil==2.2
python3-memcached==1.51
redis==2.10.3
ujson==1.33
django-celery==3.1.10
